# BASE DE DATOS: ANÁLISIS DE LA CALIDAD DEL AIRE EN PUEBLA POR COMPONENTES

## Se describe la base cómo un set de datos que presenta los datos históricos de las diferentes estaciones de análisis meteorológico de la 
### ZONA METROPOLITANA DE VALLE DE PUEBLA
### Siendo estas: AGUA SANTA, BINE, NINFAS, UTP, VELÓDROMO
### Con registros de los diferentes componenetes químicos en el aire.
### Siendo estos: 
### Ozono (O3)	
### Dióxido de Nitrógeno (NO2)
### Monóxido de Carbono (CO)
### Dióxido de Azufre (SO2)

In [408]:
#Importar librerías:

import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import gdown 
import numpy as np
import plotly.express as px

In [409]:
# URL cruda del archivo CSV en GitHub
url = "https://raw.githubusercontent.com/DAGA-Mx/CALIDAD-DEL-AIRE-EN-PUEBLA-ANALISIS/main/df_sucio_AIRE_DILAN.csv"

# Leer el archivo CSV directamente desde la URL
df = pd.read_csv(url)

# Imprimir las primeras filas del DataFrame
print(df.head())

                                        Estacion Agrupacion Fecha inicial  \
0  BINE : Benemerito Instituto Normal del Estado     2016-6    01/06/2016
1  BINE : Benemerito Instituto Normal del Estado     2016-7    01/07/2016
2  BINE : Benemerito Instituto Normal del Estado     2016-8    01/08/2016
3  BINE : Benemerito Instituto Normal del Estado     2016-9    01/09/2016
4  BINE : Benemerito Instituto Normal del Estado    2016-10    01/10/2016

  Fecha final Parametro Dias buenos Dias aceptables  Dias malos  \
0  30/06/2016       SO2           2               0         0.0
1  31/07/2016       SO2          31               0         0.0
2  31/08/2016       SO2          31               0         0.0
3  30/09/2016       SO2          30               0         0.0
4  31/10/2016       SO2          31               0         0.0

   Dias muy malos Dias extremadamente malos Dias insuficientes  Unnamed: 11
0             0.0                         0                 28          NaN
1             0.0                         0                  0          NaN
2             0.0                         0                  0          NaN
3             0.0                         0                  0          NaN
4             0.0                         0                  0          NaN

In [410]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2244 entries, 0 to 2243
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Estacion                   2177 non-null   object
 1   Agrupacion                 2177 non-null   object
 2   Fecha inicial              2177 non-null   object
 3   Fecha final                2177 non-null   object
 4   Parametro                  2177 non-null   object
 5   Dias buenos                2177 non-null   object
 6   Dias aceptables            2177 non-null   object
 7   Dias malos                 2177 non-null   float64
 8   Dias muy malos             2177 non-null   float64
 9   Dias extremadamente malos  2177 non-null   object
 10  Dias insuficientes         2177 non-null   object
 11  Unnamed: 11                624 non-null    float64
dtypes: float64(3), object(9)
memory usage: 210.5+ KB

In [411]:
df

,Estacion,Agrupacion,Fecha inicial,Fecha final,Parametro,Dias buenos,Dias aceptables,Dias malos,Dias muy malos,Dias extremadamente malos,Dias insuficientes,Unnamed: 11
0,BINE : Benemerito Instituto Normal del Estado,2016-6,01/06/2016,30/06/2016,SO2,2,0,0.0,0.0,0,28,NaN
1,BINE : Benemerito Instituto Normal del Estado,2016-7,01/07/2016,31/07/2016,SO2,31,0,0.0,0.0,0,0,NaN
2,BINE : Benemerito Instituto Normal del Estado,2016-8,01/08/2016,31/08/2016,SO2,31,0,0.0,0.0,0,0,NaN
3,BINE : Benemerito Instituto Normal del Estado,2016-9,01/09/2016,30/09/2016,SO2,30,0,0.0,0.0,0,0,NaN
4,BINE : Benemerito Instituto Normal del Estado,2016-10,01/10/2016,31/10/2016,SO2,31,0,0.0,0.0,0,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
2239,NIN : Las Ninfas,2022-7,01/07/2022,31/07/2022,SO2,31,0,0.0,0.0,0,0,NaN
2240,STA : Agua Santa,2022-5,01/05/2022,31/05/2022,NO2,31,0,0.0,NaN,0,0,NaN
2241,BINE : Benemerito Instituto Normal del Estado,2022-8,01/08/2022,31/08/2022,NO2,21,1,0.0,0.0,0,9,NaN
2242,Agregado,2020-12,01/12/2020,31/12/2020,O3,Mï¿½ximo riesgo de 1 y 8 horas,18,13.0,NaN,0,0,0.0
2243,NIN : Las Ninfas,2016-9,01/09/2016,30/09/2016,NO2,26,1,2.0,1.0,NaN,0,NaN

### Se procede al análisis de la base de datos:

In [412]:
#Se verifican las columnas con las que trabajaremos y sus nombres:
df.columns

Index(['Estacion', 'Agrupacion', 'Fecha inicial', 'Fecha final', 'Parametro',
       'Dias buenos', 'Dias aceptables', 'Dias malos', 'Dias muy malos',
       'Dias extremadamente malos', 'Dias insuficientes', 'Unnamed: 11'],
      dtype='object')

In [413]:
df.isnull()
#Nos genera un df con True donde hay NaN y False donde hay datos

,Estacion,Agrupacion,Fecha inicial,Fecha final,Parametro,Dias buenos,Dias aceptables,Dias malos,Dias muy malos,Dias extremadamente malos,Dias insuficientes,Unnamed: 11
0,False,False,False,False,False,False,False,False,False,False,False,True
1,False,False,False,False,False,False,False,False,False,False,False,True
2,False,False,False,False,False,False,False,False,False,False,False,True
3,False,False,False,False,False,False,False,False,False,False,False,True
4,False,False,False,False,False,False,False,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...
2239,False,False,False,False,False,False,False,False,False,False,False,True
2240,False,False,False,False,False,False,False,False,True,False,False,True
2241,False,False,False,False,False,False,False,False,False,False,False,True
2242,False,False,False,False,False,False,False,False,True,False,False,False
2243,False,False,False,False,False,False,False,False,False,True,False,True

In [414]:
#Encuentra la suma de los datos vacios o nulos por columna
df.isnull().sum()

Estacion                       67
Agrupacion                     67
Fecha inicial                  67
Fecha final                    67
Parametro                      67
Dias buenos                    67
Dias aceptables                67
Dias malos                     67
Dias muy malos                 67
Dias extremadamente malos      67
Dias insuficientes             67
Unnamed: 11                  1620
dtype: int64

In [415]:
#Base de datos original
df.shape

(2244, 12)

In [416]:
# Mostramos los valores únicos de la columna:
df['Estacion'].unique()

array(['BINE : Benemerito Instituto Normal del Estado',
       'NIN : Las Ninfas', 'STA : Agua Santa',
       'UTP : Universidad Tecnolï¿½gica de Puebla', 'VEL : Velodromo',
       'Agregado', nan, 'Auto%#'], dtype=object)

#### REMPLAZAREMOS AQUELLOS VALORES QUE ENTORPEZCAN LA EXPLORACIÓN DE LOS DATOS, POR EL PROMEDIO O EL DATO ANTERIOR
### Vamos a generar un ciclo for que nos indique si aparece el texto "Auto%#" y valores "nan" en todas las columnas

In [417]:
# LISTA CON EL CICLO FOR QUE NOS MUESTRA LOS TIPOS DE DATOS ÚNICOS POR COLUMNA
lista_col=df.columns
for n in lista_col:
    print(f"la columna {n} tiene de datos:")
    print(df[n].unique())
    print()

la columna Estacion tiene de datos:
['BINE : Benemerito Instituto Normal del Estado' 'NIN : Las Ninfas'
 'STA : Agua Santa' 'UTP : Universidad Tecnolï¿½gica de Puebla'
 'VEL : Velodromo' 'Agregado' nan 'Auto%#']

la columna Agrupacion tiene de datos:
['2016-6' '2016-7' '2016-8' '2016-9' '2016-10' '2016-11' '2016-12'
 '2016-1' '2016-2' '2016-3' '2016-4' '2016-5' nan '2017-1' '2017-2'
 '2017-3' '2017-5' '2017-6' '2017-7' '2017-8' '2017-9' '2017-10' '2017-4'
 '2017-11' '2017-12' '2018-2' '2018-3' '2018-4' '2018-5' '2018-6' '2018-7'
 '2018-8' '2018-9' '2018-10' '2018-11' '2018-12' '2018-1' '2019-1'
 '2019-2' '2019-3' '2019-5' '2019-6' '2019-7' '2019-8' '2019-9' '2019-10'
 '2019-11' '2019-12' '2019-4' '2020-1' '2020-2' '2020-3' '2020-4' '2020-5'
 '2020-6' '2020-10' '2020-11' '2020-12' '2020-7' '2020-8' '2020-9'
 '2021-1' '2021-2' '2021-3' '2021-4' '2021-5' '2021-6' '2021-7' '2021-8'
 '2021-9' '2021-10' '2021-11' '2021-12' '2022-1' '2022-2' '2022-3'
 '2022-4' '2022-6' '2022-7' '2022-8' '2022-9' '2022-10' '2022-11'
 '2022-12' '2022-5']

la columna Fecha inicial tiene de datos:
['01/06/2016' '01/07/2016' '01/08/2016' '01/09/2016' '01/10/2016'
 '01/11/2016' '01/12/2016' nan '01/02/2016' '01/03/2016' '01/04/2016'
 '01/05/2016' '01/01/2016' '01/01/2017' '01/02/2017' '01/03/2017'
 '01/04/2017' '01/05/2017' '01/06/2017' '01/07/2017' '01/08/2017'
 '01/09/2017' '01/10/2017' '01/11/2017' '01/12/2017' '01/02/2018'
 '01/03/2018' '01/04/2018' '01/05/2018' '01/06/2018' '01/08/2018'
 '01/09/2018' '01/10/2018' '01/11/2018' '01/12/2018' '01/01/2018'
 '01/07/2018' '01/01/2019' '01/02/2019' '01/05/2019' '01/06/2019'
 '01/07/2019' '01/08/2019' '01/09/2019' '01/10/2019' '01/11/2019'
 '01/12/2019' '01/03/2019' '01/04/2019' '01/01/2020' '01/02/2020'
 '01/03/2020' '01/04/2020' '01/05/2020' '01/06/2020' '01/10/2020'
 '01/11/2020' '01/12/2020' '01/07/2020' '01/08/2020' '01/09/2020'
 '01/01/2021' '01/02/2021' '01/03/2021' '01/04/2021' '01/05/2021'
 '01/06/2021' '01/07/2021' '01/08/2021' '01/09/2021' '01/10/2021'
 '01/11/2021' '01/12/2021' '01/01/2022' '01/02/2022' '01/03/2022'
 '01/04/2022' '01/05/2022' '01/06/2022' '01/07/2022' '01/08/2022'
 '01/09/2022' '01/10/2022' '01/11/2022' '01/12/2022']

la columna Fecha final tiene de datos:
['30/06/2016' '31/07/2016' '31/08/2016' '30/09/2016' '31/10/2016'
 '30/11/2016' '31/12/2016' '31/01/2016' '29/02/2016' '31/03/2016'
 '30/04/2016' '31/05/2016' '31/01/2017' '28/02/2017' '31/03/2017'
 '30/04/2017' '31/05/2017' '30/06/2017' '31/07/2017' '31/08/2017'
 '30/09/2017' '31/10/2017' '30/11/2017' '31/12/2017' nan '28/02/2018'
 '31/03/2018' '30/04/2018' '31/05/2018' '30/06/2018' '31/07/2018'
 '31/08/2018' '30/09/2018' '31/10/2018' '30/11/2018' '31/12/2018'
 '31/01/2018' '31/01/2019' '28/02/2019' '31/03/2019' '31/05/2019'
 '30/06/2019' '31/07/2019' '31/08/2019' '30/09/2019' '31/10/2019'
 '30/11/2019' '31/12/2019' '30/04/2019' '31/01/2020' '29/02/2020'
 '31/03/2020' '30/04/2020' '31/05/2020' '30/06/2020' '31/10/2020'
 '30/11/2020' '31/12/2020' '31/07/2020' '31/08/2020' '30/09/2020'
 '31/01/2021' '28/02/2021' '31/03/2021' '30/04/2021' '31/05/2021'
 '30/06/2021' '31/07/2021' '31/08/2021' '31/10/2021' '30/11/2021'
 '31/12/2021' '30/09/2021' '31/01/2022' '28/02/2022' '31/03/2022'
 '30/04/2022' '31/05/2022' '30/06/2022' '31/07/2022' '31/08/2022'
 '30/09/2022' '31/10/2022' '30/11/2022' '31/12/2022']

la columna Parametro tiene de datos:
['SO2' nan 'Auto%#' 'NO2' 'CO' 'O3']

la columna Dias buenos tiene de datos:
['2' '31' '30' '20' '26' nan '29' '25' '21' 'Auto%#' '16' '24' '27' '5'
 '18' '19' '12' '3' '28' '23' '6' '15' '22' '14' '9' '7' '13' '17' '4'
 '10' '8' '11' '0' '1' 'Mï¿½ximo riesgo de 1 y 8 horas']

la columna Dias aceptables tiene de datos:
['0' nan 'Auto%#' '2' '1' '11' '23' '15' '22' '5' '4' '7' '6' '3' '10' '8'
 '12' '14' '9' '18' '21' '25' '19' '16' '31' '29' '24' '13' '20' '28' '30'
 '27' '17' '26']

la columna Dias malos tiene de datos:
[ 0. nan  2.  5.  1. 13. 11. 15.  7.  6.  8.  3.  4. 19. 12.  9. 20. 14.
 17. 21. 22. 24. 16. 10. 18. 26. 25. 23. 27. 28.]

la columna Dias muy malos tiene de datos:
[ 0. nan  1.  2.  4.  3. 10.  5.  8.  6.  9. 11. 13.  7. 15. 12. 17. 18.
 21. 23.]

la columna Dias extremadamente malos tiene de datos:
['0' 'Auto%#' nan '1' '2' '4' '5']

la columna Dias insuficientes tiene de datos:
['28' '0' '10' '5' '1' '15' '6' '2' '4' '25' '13' '11' '19' nan '29' '3'
 '8' 'Auto%#' '16' '7' '9' '17' '12' '22' '23' '18' '14' '26' '21' '24'
 '27' '20']

la columna Unnamed: 11 tiene de datos:
[nan  0.  7.  8. 31. 25.  4. 10.  9.  1.  3. 24. 17. 11. 18. 12.  2.  5.
  6. 13. 30. 28. 19. 15. 20. 27. 22. 21. 14. 16. 23. 29.]

#### SE ENCONTRARON DISCREPACIAS EN LA BASE DE DATOS
#### QUE SE LIMPIARAN Y ANALIZARÁN HACIENDO USO DE LA LIBRERÍA 'PANDAS'

In [418]:
# Ciclo for que nos indique cuantas veces aparece el texto Auto%# en todas las columnas
lista_col=df.columns
for nombre in lista_col:
    print(f"En la columna {nombre} los 'Auto%#' son: {df[df[nombre] == 'Auto%#'].shape[0]}")

En la columna Estacion los 'Auto%#' son: 44
En la columna Agrupacion los 'Auto%#' son: 0
En la columna Fecha inicial los 'Auto%#' son: 0
En la columna Fecha final los 'Auto%#' son: 0
En la columna Parametro los 'Auto%#' son: 41
En la columna Dias buenos los 'Auto%#' son: 43
En la columna Dias aceptables los 'Auto%#' son: 43
En la columna Dias malos los 'Auto%#' son: 0
En la columna Dias muy malos los 'Auto%#' son: 0
En la columna Dias extremadamente malos los 'Auto%#' son: 43
En la columna Dias insuficientes los 'Auto%#' son: 41
En la columna Unnamed: 11 los 'Auto%#' son: 0

## Una vez identificados procedemos a mitigarlos con valores del promedio procedientes de la misma columna

In [419]:
# lOS DATOS "nan" son reemplazados por el dato anterior
df['Estacion'] = df['Estacion'].fillna(method="ffill")
df

C:\Users\dilon\AppData\Local\Temp\ipykernel_13060\308101140.py:2: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df['Estacion'] = df['Estacion'].fillna(method="ffill")

,Estacion,Agrupacion,Fecha inicial,Fecha final,Parametro,Dias buenos,Dias aceptables,Dias malos,Dias muy malos,Dias extremadamente malos,Dias insuficientes,Unnamed: 11
0,BINE : Benemerito Instituto Normal del Estado,2016-6,01/06/2016,30/06/2016,SO2,2,0,0.0,0.0,0,28,NaN
1,BINE : Benemerito Instituto Normal del Estado,2016-7,01/07/2016,31/07/2016,SO2,31,0,0.0,0.0,0,0,NaN
2,BINE : Benemerito Instituto Normal del Estado,2016-8,01/08/2016,31/08/2016,SO2,31,0,0.0,0.0,0,0,NaN
3,BINE : Benemerito Instituto Normal del Estado,2016-9,01/09/2016,30/09/2016,SO2,30,0,0.0,0.0,0,0,NaN
4,BINE : Benemerito Instituto Normal del Estado,2016-10,01/10/2016,31/10/2016,SO2,31,0,0.0,0.0,0,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
2239,NIN : Las Ninfas,2022-7,01/07/2022,31/07/2022,SO2,31,0,0.0,0.0,0,0,NaN
2240,STA : Agua Santa,2022-5,01/05/2022,31/05/2022,NO2,31,0,0.0,NaN,0,0,NaN
2241,BINE : Benemerito Instituto Normal del Estado,2022-8,01/08/2022,31/08/2022,NO2,21,1,0.0,0.0,0,9,NaN
2242,Agregado,2020-12,01/12/2020,31/12/2020,O3,Mï¿½ximo riesgo de 1 y 8 horas,18,13.0,NaN,0,0,0.0
2243,NIN : Las Ninfas,2016-9,01/09/2016,30/09/2016,NO2,26,1,2.0,1.0,NaN,0,NaN

# SE REEMPLAZARÁN LOS DATOS VACÍOS POR EL VALOR DE FILA ANTERIOR PARA LAS COLUMNAS STRING/CATEGÓRICAS:

In [420]:
# lOS DATOS "nan" son reemplazados por el dato anterior
df['Agrupacion'] = df['Agrupacion'].fillna(method="ffill")

df['Fecha inicial'] = df['Fecha inicial'].fillna(method="ffill")

df['Fecha final'] = df['Fecha final'].fillna(method="ffill")

df['Parametro'] = df['Parametro'].fillna(method="ffill")

C:\Users\dilon\AppData\Local\Temp\ipykernel_13060\2741076658.py:2: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df['Agrupacion'] = df['Agrupacion'].fillna(method="ffill")
C:\Users\dilon\AppData\Local\Temp\ipykernel_13060\2741076658.py:4: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df['Fecha inicial'] = df['Fecha inicial'].fillna(method="ffill")
C:\Users\dilon\AppData\Local\Temp\ipykernel_13060\2741076658.py:6: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df['Fecha final'] = df['Fecha final'].fillna(method="ffill")
C:\Users\dilon\AppData\Local\Temp\ipykernel_13060\2741076658.py:8: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df['Parametro'] = df['Parametro'].fillna(method="ffill")

In [421]:
# Función para reemplazar "Auto%#" por el valor anterior en cada columna
def reemplazar_auto(df):
    return df.apply(lambda col: col.mask(col == "Auto%#").ffill())

# Aplicar la función
df_limpio = reemplazar_auto(df)

df_limpio

,Estacion,Agrupacion,Fecha inicial,Fecha final,Parametro,Dias buenos,Dias aceptables,Dias malos,Dias muy malos,Dias extremadamente malos,Dias insuficientes,Unnamed: 11
0,BINE : Benemerito Instituto Normal del Estado,2016-6,01/06/2016,30/06/2016,SO2,2,0,0.0,0.0,0,28,NaN
1,BINE : Benemerito Instituto Normal del Estado,2016-7,01/07/2016,31/07/2016,SO2,31,0,0.0,0.0,0,0,NaN
2,BINE : Benemerito Instituto Normal del Estado,2016-8,01/08/2016,31/08/2016,SO2,31,0,0.0,0.0,0,0,NaN
3,BINE : Benemerito Instituto Normal del Estado,2016-9,01/09/2016,30/09/2016,SO2,30,0,0.0,0.0,0,0,NaN
4,BINE : Benemerito Instituto Normal del Estado,2016-10,01/10/2016,31/10/2016,SO2,31,0,0.0,0.0,0,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
2239,NIN : Las Ninfas,2022-7,01/07/2022,31/07/2022,SO2,31,0,0.0,0.0,0,0,0.0
2240,STA : Agua Santa,2022-5,01/05/2022,31/05/2022,NO2,31,0,0.0,0.0,0,0,0.0
2241,BINE : Benemerito Instituto Normal del Estado,2022-8,01/08/2022,31/08/2022,NO2,21,1,0.0,0.0,0,9,0.0
2242,Agregado,2020-12,01/12/2020,31/12/2020,O3,Mï¿½ximo riesgo de 1 y 8 horas,18,13.0,0.0,0,0,0.0
2243,NIN : Las Ninfas,2016-9,01/09/2016,30/09/2016,NO2,26,1,2.0,1.0,0,0,0.0

# CREACIÓN DE UNA LISTA PARA LAS COLUMNAS NUMÉRICAS:
## REEMPLAZO DE LOS DATOS VACÍOS Y TEXTO ATÍPICO CON VALOR PROMEDIO DE LA COLUMNA

In [422]:
print(df.columns.tolist())

['Estacion', 'Agrupacion', 'Fecha inicial', 'Fecha final', 'Parametro', 'Dias buenos', 'Dias aceptables', 'Dias malos', 'Dias muy malos', 'Dias extremadamente malos', 'Dias insuficientes', 'Unnamed: 11']

In [423]:
# Lista de columnas numéricas
columnas_numericas = [
    'Dias buenos',
    'Dias aceptables',
    'Dias malos',
    'Dias muy malos',
    'Dias extremadamente malos',
    'Dias insuficientes'
]

# Reemplazar "Auto%#" por NaN para poder calcular el promedio
df[columnas_numericas] = df[columnas_numericas].replace("Auto%#", pd.NA)

# Convertir las columnas a tipo numérico (por si tienen texto)
df[columnas_numericas] = df[columnas_numericas].apply(pd.to_numeric, errors='coerce')

# Rellenar los NaN con el promedio de cada columna
df[columnas_numericas] = df[columnas_numericas].apply(lambda col: col.fillna(col.mean()))

In [424]:
df

,Estacion,Agrupacion,Fecha inicial,Fecha final,Parametro,Dias buenos,Dias aceptables,Dias malos,Dias muy malos,Dias extremadamente malos,Dias insuficientes,Unnamed: 11
0,BINE : Benemerito Instituto Normal del Estado,2016-6,01/06/2016,30/06/2016,SO2,2.000000,0.0,0.0,0.000000,0.000000,28.0,NaN
1,BINE : Benemerito Instituto Normal del Estado,2016-7,01/07/2016,31/07/2016,SO2,31.000000,0.0,0.0,0.000000,0.000000,0.0,NaN
2,BINE : Benemerito Instituto Normal del Estado,2016-8,01/08/2016,31/08/2016,SO2,31.000000,0.0,0.0,0.000000,0.000000,0.0,NaN
3,BINE : Benemerito Instituto Normal del Estado,2016-9,01/09/2016,30/09/2016,SO2,30.000000,0.0,0.0,0.000000,0.000000,0.0,NaN
4,BINE : Benemerito Instituto Normal del Estado,2016-10,01/10/2016,31/10/2016,SO2,31.000000,0.0,0.0,0.000000,0.000000,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
2239,NIN : Las Ninfas,2022-7,01/07/2022,31/07/2022,SO2,31.000000,0.0,0.0,0.000000,0.000000,0.0,NaN
2240,STA : Agua Santa,2022-5,01/05/2022,31/05/2022,NO2,31.000000,0.0,0.0,0.515847,0.000000,0.0,NaN
2241,BINE : Benemerito Instituto Normal del Estado,2022-8,01/08/2022,31/08/2022,NO2,21.000000,1.0,0.0,0.000000,0.000000,9.0,NaN
2242,Agregado,2020-12,01/12/2020,31/12/2020,O3,25.679369,18.0,13.0,0.515847,0.000000,0.0,0.0
2243,NIN : Las Ninfas,2016-9,01/09/2016,30/09/2016,NO2,26.000000,1.0,2.0,1.000000,0.015464,0.0,NaN

In [425]:
df.isnull()

,Estacion,Agrupacion,Fecha inicial,Fecha final,Parametro,Dias buenos,Dias aceptables,Dias malos,Dias muy malos,Dias extremadamente malos,Dias insuficientes,Unnamed: 11
0,False,False,False,False,False,False,False,False,False,False,False,True
1,False,False,False,False,False,False,False,False,False,False,False,True
2,False,False,False,False,False,False,False,False,False,False,False,True
3,False,False,False,False,False,False,False,False,False,False,False,True
4,False,False,False,False,False,False,False,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...
2239,False,False,False,False,False,False,False,False,False,False,False,True
2240,False,False,False,False,False,False,False,False,False,False,False,True
2241,False,False,False,False,False,False,False,False,False,False,False,True
2242,False,False,False,False,False,False,False,False,False,False,False,False
2243,False,False,False,False,False,False,False,False,False,False,False,True

## Corroboramos la limpieza de las columnas:

In [426]:
#Encuentra la suma de los datos vacios o nulos por columna
df.isnull().sum()

Estacion                        0
Agrupacion                      0
Fecha inicial                   0
Fecha final                     0
Parametro                       0
Dias buenos                     0
Dias aceptables                 0
Dias malos                      0
Dias muy malos                  0
Dias extremadamente malos       0
Dias insuficientes              0
Unnamed: 11                  1620
dtype: int64

In [427]:
# LISTA CON EL CICLO FOR QUE NOS MUESTRA LOS TIPOS DE DATOS ÚNICOS POR COLUMNA
lista_col=df.columns
for n in lista_col:
    print(f"la columna {n} tiene de datos:")
    print(df[n].unique())
    print()

la columna Estacion tiene de datos:
['BINE : Benemerito Instituto Normal del Estado' 'NIN : Las Ninfas'
 'STA : Agua Santa' 'UTP : Universidad Tecnolï¿½gica de Puebla'
 'VEL : Velodromo' 'Agregado' 'Auto%#']

la columna Agrupacion tiene de datos:
['2016-6' '2016-7' '2016-8' '2016-9' '2016-10' '2016-11' '2016-12'
 '2016-1' '2016-2' '2016-3' '2016-4' '2016-5' '2017-1' '2017-2' '2017-3'
 '2017-5' '2017-6' '2017-7' '2017-8' '2017-9' '2017-10' '2017-4' '2017-11'
 '2017-12' '2018-2' '2018-3' '2018-4' '2018-5' '2018-6' '2018-7' '2018-8'
 '2018-9' '2018-10' '2018-11' '2018-12' '2018-1' '2019-1' '2019-2'
 '2019-3' '2019-5' '2019-6' '2019-7' '2019-8' '2019-9' '2019-10' '2019-11'
 '2019-12' '2019-4' '2020-1' '2020-2' '2020-3' '2020-4' '2020-5' '2020-6'
 '2020-10' '2020-11' '2020-12' '2020-7' '2020-8' '2020-9' '2021-1'
 '2021-2' '2021-3' '2021-4' '2021-5' '2021-6' '2021-7' '2021-8' '2021-9'
 '2021-10' '2021-11' '2021-12' '2022-1' '2022-2' '2022-3' '2022-4'
 '2022-6' '2022-7' '2022-8' '2022-9' '2022-10' '2022-11' '2022-12'
 '2022-5']

la columna Fecha inicial tiene de datos:
['01/06/2016' '01/07/2016' '01/08/2016' '01/09/2016' '01/10/2016'
 '01/11/2016' '01/12/2016' '01/02/2016' '01/03/2016' '01/04/2016'
 '01/05/2016' '01/01/2016' '01/01/2017' '01/02/2017' '01/03/2017'
 '01/04/2017' '01/05/2017' '01/06/2017' '01/07/2017' '01/08/2017'
 '01/09/2017' '01/10/2017' '01/11/2017' '01/12/2017' '01/02/2018'
 '01/03/2018' '01/04/2018' '01/05/2018' '01/06/2018' '01/08/2018'
 '01/09/2018' '01/10/2018' '01/11/2018' '01/12/2018' '01/01/2018'
 '01/07/2018' '01/01/2019' '01/02/2019' '01/05/2019' '01/06/2019'
 '01/07/2019' '01/08/2019' '01/09/2019' '01/10/2019' '01/11/2019'
 '01/12/2019' '01/03/2019' '01/04/2019' '01/01/2020' '01/02/2020'
 '01/03/2020' '01/04/2020' '01/05/2020' '01/06/2020' '01/10/2020'
 '01/11/2020' '01/12/2020' '01/07/2020' '01/08/2020' '01/09/2020'
 '01/01/2021' '01/02/2021' '01/03/2021' '01/04/2021' '01/05/2021'
 '01/06/2021' '01/07/2021' '01/08/2021' '01/09/2021' '01/10/2021'
 '01/11/2021' '01/12/2021' '01/01/2022' '01/02/2022' '01/03/2022'
 '01/04/2022' '01/05/2022' '01/06/2022' '01/07/2022' '01/08/2022'
 '01/09/2022' '01/10/2022' '01/11/2022' '01/12/2022']

la columna Fecha final tiene de datos:
['30/06/2016' '31/07/2016' '31/08/2016' '30/09/2016' '31/10/2016'
 '30/11/2016' '31/12/2016' '31/01/2016' '29/02/2016' '31/03/2016'
 '30/04/2016' '31/05/2016' '31/01/2017' '28/02/2017' '31/03/2017'
 '30/04/2017' '31/05/2017' '30/06/2017' '31/07/2017' '31/08/2017'
 '30/09/2017' '31/10/2017' '30/11/2017' '31/12/2017' '28/02/2018'
 '31/03/2018' '30/04/2018' '31/05/2018' '30/06/2018' '31/07/2018'
 '31/08/2018' '30/09/2018' '31/10/2018' '30/11/2018' '31/12/2018'
 '31/01/2018' '31/01/2019' '28/02/2019' '31/03/2019' '31/05/2019'
 '30/06/2019' '31/07/2019' '31/08/2019' '30/09/2019' '31/10/2019'
 '30/11/2019' '31/12/2019' '30/04/2019' '31/01/2020' '29/02/2020'
 '31/03/2020' '30/04/2020' '31/05/2020' '30/06/2020' '31/10/2020'
 '30/11/2020' '31/12/2020' '31/07/2020' '31/08/2020' '30/09/2020'
 '31/01/2021' '28/02/2021' '31/03/2021' '30/04/2021' '31/05/2021'
 '30/06/2021' '31/07/2021' '31/08/2021' '31/10/2021' '30/11/2021'
 '31/12/2021' '30/09/2021' '31/01/2022' '28/02/2022' '31/03/2022'
 '30/04/2022' '31/05/2022' '30/06/2022' '31/07/2022' '31/08/2022'
 '30/09/2022' '31/10/2022' '30/11/2022' '31/12/2022']

la columna Parametro tiene de datos:
['SO2' 'Auto%#' 'NO2' 'CO' 'O3']

la columna Dias buenos tiene de datos:
[ 2.         31.         30.         20.         26.         25.67936925
 29.         25.         21.         16.         24.         27.
  5.         18.         19.         12.          3.         28.
 23.          6.         15.         22.         14.          9.
  7.         13.         17.          4.         10.          8.
 11.          0.          1.        ]

la columna Dias aceptables tiene de datos:
[ 0.          4.62746017  2.          1.         11.         23.
 15.         22.          5.          4.          7.          6.
  3.         10.          8.         12.         14.          9.
 18.         21.         25.         19.         16.         31.
 29.         24.         13.         20.         28.         30.
 27.         17.         26.        ]

la columna Dias malos tiene de datos:
[ 0.          3.01423978  2.          5.          1.         13.
 11.         15.          7.          6.          8.          3.
  4.         19.         12.          9.         20.         14.
 17.         21.         22.         24.         16.         10.
 18.         26.         25.         23.         27.         28.        ]

la columna Dias muy malos tiene de datos:
[ 0.         0.5158475  1.         2.         4.         3.
 10.         5.         8.         6.         9.        11.
 13.         7.        15.        12.        17.        18.
 21.        23.       ]

la columna Dias extremadamente malos tiene de datos:
[0.         0.01546392 1.         2.         4.         5.        ]

la columna Dias insuficientes tiene de datos:
[28.          0.         10.          5.          1.         15.
  6.          2.          4.         25.         13.         11.
 19.          2.92134831 29.          3.          8.         16.
  7.          9.         17.         12.         22.         23.
 18.         14.         26.         21.         24.         27.
 20.        ]

la columna Unnamed: 11 tiene de datos:
[nan  0.  7.  8. 31. 25.  4. 10.  9.  1.  3. 24. 17. 11. 18. 12.  2.  5.
  6. 13. 30. 28. 19. 15. 20. 27. 22. 21. 14. 16. 23. 29.]

In [428]:
# Reemplazar "Auto%#" por NaN
df['Estacion'] = df['Estacion'].replace("Auto%#", pd.NA)

# Rellenar los NaN con el valor anterior (forward fill)
df['Estacion'] = df['Estacion'].fillna(method='ffill')

C:\Users\dilon\AppData\Local\Temp\ipykernel_13060\2963170901.py:5: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df['Estacion'] = df['Estacion'].fillna(method='ffill')

In [429]:
# Rellenar los "UTP : Universidad Tecnolï¿½gica de Puebla" con el nombre correcto: "UTP : Universidad Tecnologica de Puebla" con el método anterior
df['Estacion'] = df['Estacion'].replace("UTP : Universidad Tecnolï¿½gica de Puebla", "UTP : Universidad Tecnologica de Puebla")

In [430]:
# LISTA CON EL CICLO FOR QUE NOS MUESTRA LOS TIPOS DE DATOS ÚNICOS POR COLUMNA
lista_col=df.columns
for n in lista_col:
    print(f"la columna {n} tiene de datos:")
    print(df[n].unique())
    print()

la columna Estacion tiene de datos:
['BINE : Benemerito Instituto Normal del Estado' 'NIN : Las Ninfas'
 'STA : Agua Santa' 'UTP : Universidad Tecnologica de Puebla'
 'VEL : Velodromo' 'Agregado']

la columna Agrupacion tiene de datos:
['2016-6' '2016-7' '2016-8' '2016-9' '2016-10' '2016-11' '2016-12'
 '2016-1' '2016-2' '2016-3' '2016-4' '2016-5' '2017-1' '2017-2' '2017-3'
 '2017-5' '2017-6' '2017-7' '2017-8' '2017-9' '2017-10' '2017-4' '2017-11'
 '2017-12' '2018-2' '2018-3' '2018-4' '2018-5' '2018-6' '2018-7' '2018-8'
 '2018-9' '2018-10' '2018-11' '2018-12' '2018-1' '2019-1' '2019-2'
 '2019-3' '2019-5' '2019-6' '2019-7' '2019-8' '2019-9' '2019-10' '2019-11'
 '2019-12' '2019-4' '2020-1' '2020-2' '2020-3' '2020-4' '2020-5' '2020-6'
 '2020-10' '2020-11' '2020-12' '2020-7' '2020-8' '2020-9' '2021-1'
 '2021-2' '2021-3' '2021-4' '2021-5' '2021-6' '2021-7' '2021-8' '2021-9'
 '2021-10' '2021-11' '2021-12' '2022-1' '2022-2' '2022-3' '2022-4'
 '2022-6' '2022-7' '2022-8' '2022-9' '2022-10' '2022-11' '2022-12'
 '2022-5']

la columna Fecha inicial tiene de datos:
['01/06/2016' '01/07/2016' '01/08/2016' '01/09/2016' '01/10/2016'
 '01/11/2016' '01/12/2016' '01/02/2016' '01/03/2016' '01/04/2016'
 '01/05/2016' '01/01/2016' '01/01/2017' '01/02/2017' '01/03/2017'
 '01/04/2017' '01/05/2017' '01/06/2017' '01/07/2017' '01/08/2017'
 '01/09/2017' '01/10/2017' '01/11/2017' '01/12/2017' '01/02/2018'
 '01/03/2018' '01/04/2018' '01/05/2018' '01/06/2018' '01/08/2018'
 '01/09/2018' '01/10/2018' '01/11/2018' '01/12/2018' '01/01/2018'
 '01/07/2018' '01/01/2019' '01/02/2019' '01/05/2019' '01/06/2019'
 '01/07/2019' '01/08/2019' '01/09/2019' '01/10/2019' '01/11/2019'
 '01/12/2019' '01/03/2019' '01/04/2019' '01/01/2020' '01/02/2020'
 '01/03/2020' '01/04/2020' '01/05/2020' '01/06/2020' '01/10/2020'
 '01/11/2020' '01/12/2020' '01/07/2020' '01/08/2020' '01/09/2020'
 '01/01/2021' '01/02/2021' '01/03/2021' '01/04/2021' '01/05/2021'
 '01/06/2021' '01/07/2021' '01/08/2021' '01/09/2021' '01/10/2021'
 '01/11/2021' '01/12/2021' '01/01/2022' '01/02/2022' '01/03/2022'
 '01/04/2022' '01/05/2022' '01/06/2022' '01/07/2022' '01/08/2022'
 '01/09/2022' '01/10/2022' '01/11/2022' '01/12/2022']

la columna Fecha final tiene de datos:
['30/06/2016' '31/07/2016' '31/08/2016' '30/09/2016' '31/10/2016'
 '30/11/2016' '31/12/2016' '31/01/2016' '29/02/2016' '31/03/2016'
 '30/04/2016' '31/05/2016' '31/01/2017' '28/02/2017' '31/03/2017'
 '30/04/2017' '31/05/2017' '30/06/2017' '31/07/2017' '31/08/2017'
 '30/09/2017' '31/10/2017' '30/11/2017' '31/12/2017' '28/02/2018'
 '31/03/2018' '30/04/2018' '31/05/2018' '30/06/2018' '31/07/2018'
 '31/08/2018' '30/09/2018' '31/10/2018' '30/11/2018' '31/12/2018'
 '31/01/2018' '31/01/2019' '28/02/2019' '31/03/2019' '31/05/2019'
 '30/06/2019' '31/07/2019' '31/08/2019' '30/09/2019' '31/10/2019'
 '30/11/2019' '31/12/2019' '30/04/2019' '31/01/2020' '29/02/2020'
 '31/03/2020' '30/04/2020' '31/05/2020' '30/06/2020' '31/10/2020'
 '30/11/2020' '31/12/2020' '31/07/2020' '31/08/2020' '30/09/2020'
 '31/01/2021' '28/02/2021' '31/03/2021' '30/04/2021' '31/05/2021'
 '30/06/2021' '31/07/2021' '31/08/2021' '31/10/2021' '30/11/2021'
 '31/12/2021' '30/09/2021' '31/01/2022' '28/02/2022' '31/03/2022'
 '30/04/2022' '31/05/2022' '30/06/2022' '31/07/2022' '31/08/2022'
 '30/09/2022' '31/10/2022' '30/11/2022' '31/12/2022']

la columna Parametro tiene de datos:
['SO2' 'Auto%#' 'NO2' 'CO' 'O3']

la columna Dias buenos tiene de datos:
[ 2.         31.         30.         20.         26.         25.67936925
 29.         25.         21.         16.         24.         27.
  5.         18.         19.         12.          3.         28.
 23.          6.         15.         22.         14.          9.
  7.         13.         17.          4.         10.          8.
 11.          0.          1.        ]

la columna Dias aceptables tiene de datos:
[ 0.          4.62746017  2.          1.         11.         23.
 15.         22.          5.          4.          7.          6.
  3.         10.          8.         12.         14.          9.
 18.         21.         25.         19.         16.         31.
 29.         24.         13.         20.         28.         30.
 27.         17.         26.        ]

la columna Dias malos tiene de datos:
[ 0.          3.01423978  2.          5.          1.         13.
 11.         15.          7.          6.          8.          3.
  4.         19.         12.          9.         20.         14.
 17.         21.         22.         24.         16.         10.
 18.         26.         25.         23.         27.         28.        ]

la columna Dias muy malos tiene de datos:
[ 0.         0.5158475  1.         2.         4.         3.
 10.         5.         8.         6.         9.        11.
 13.         7.        15.        12.        17.        18.
 21.        23.       ]

la columna Dias extremadamente malos tiene de datos:
[0.         0.01546392 1.         2.         4.         5.        ]

la columna Dias insuficientes tiene de datos:
[28.          0.         10.          5.          1.         15.
  6.          2.          4.         25.         13.         11.
 19.          2.92134831 29.          3.          8.         16.
  7.          9.         17.         12.         22.         23.
 18.         14.         26.         21.         24.         27.
 20.        ]

la columna Unnamed: 11 tiene de datos:
[nan  0.  7.  8. 31. 25.  4. 10.  9.  1.  3. 24. 17. 11. 18. 12.  2.  5.
  6. 13. 30. 28. 19. 15. 20. 27. 22. 21. 14. 16. 23. 29.]

# ELIMINAREMOS LA COLUMNA "Unnamed: 11" QUE CONTIENE DATOS EXTRA SIN COECIÓN CON EL ANÁLISIS

In [431]:
df.drop('Unnamed: 11', axis=1, inplace=True)

In [432]:
# REVISAMOS EL DATAFRAME:

df

,Estacion,Agrupacion,Fecha inicial,Fecha final,Parametro,Dias buenos,Dias aceptables,Dias malos,Dias muy malos,Dias extremadamente malos,Dias insuficientes
0,BINE : Benemerito Instituto Normal del Estado,2016-6,01/06/2016,30/06/2016,SO2,2.000000,0.0,0.0,0.000000,0.000000,28.0
1,BINE : Benemerito Instituto Normal del Estado,2016-7,01/07/2016,31/07/2016,SO2,31.000000,0.0,0.0,0.000000,0.000000,0.0
2,BINE : Benemerito Instituto Normal del Estado,2016-8,01/08/2016,31/08/2016,SO2,31.000000,0.0,0.0,0.000000,0.000000,0.0
3,BINE : Benemerito Instituto Normal del Estado,2016-9,01/09/2016,30/09/2016,SO2,30.000000,0.0,0.0,0.000000,0.000000,0.0
4,BINE : Benemerito Instituto Normal del Estado,2016-10,01/10/2016,31/10/2016,SO2,31.000000,0.0,0.0,0.000000,0.000000,0.0
...,...,...,...,...,...,...,...,...,...,...,...
2239,NIN : Las Ninfas,2022-7,01/07/2022,31/07/2022,SO2,31.000000,0.0,0.0,0.000000,0.000000,0.0
2240,STA : Agua Santa,2022-5,01/05/2022,31/05/2022,NO2,31.000000,0.0,0.0,0.515847,0.000000,0.0
2241,BINE : Benemerito Instituto Normal del Estado,2022-8,01/08/2022,31/08/2022,NO2,21.000000,1.0,0.0,0.000000,0.000000,9.0
2242,Agregado,2020-12,01/12/2020,31/12/2020,O3,25.679369,18.0,13.0,0.515847,0.000000,0.0
2243,NIN : Las Ninfas,2016-9,01/09/2016,30/09/2016,NO2,26.000000,1.0,2.0,1.000000,0.015464,0.0

In [433]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2244 entries, 0 to 2243
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Estacion                   2244 non-null   object
 1   Agrupacion                 2244 non-null   object
 2   Fecha inicial              2244 non-null   object
 3   Fecha final                2244 non-null   object
 4   Parametro                  2244 non-null   object
 5   Dias buenos                2244 non-null   float64
 6   Dias aceptables            2244 non-null   float64
 7   Dias malos                 2244 non-null   float64
 8   Dias muy malos             2244 non-null   float64
 9   Dias extremadamente malos  2244 non-null   float64
 10  Dias insuficientes         2244 non-null   float64
dtypes: float64(6), object(5)
memory usage: 193.0+ KB

In [434]:
# LISTA CON EL CICLO FOR QUE NOS MUESTRA LOS TIPOS DE DATOS ÚNICOS POR COLUMNA
lista_col=df.columns
for n in lista_col:
    print(f"la columna {n} tiene de datos:")
    print(df[n].unique())
    print()

la columna Estacion tiene de datos:
['BINE : Benemerito Instituto Normal del Estado' 'NIN : Las Ninfas'
 'STA : Agua Santa' 'UTP : Universidad Tecnologica de Puebla'
 'VEL : Velodromo' 'Agregado']

la columna Agrupacion tiene de datos:
['2016-6' '2016-7' '2016-8' '2016-9' '2016-10' '2016-11' '2016-12'
 '2016-1' '2016-2' '2016-3' '2016-4' '2016-5' '2017-1' '2017-2' '2017-3'
 '2017-5' '2017-6' '2017-7' '2017-8' '2017-9' '2017-10' '2017-4' '2017-11'
 '2017-12' '2018-2' '2018-3' '2018-4' '2018-5' '2018-6' '2018-7' '2018-8'
 '2018-9' '2018-10' '2018-11' '2018-12' '2018-1' '2019-1' '2019-2'
 '2019-3' '2019-5' '2019-6' '2019-7' '2019-8' '2019-9' '2019-10' '2019-11'
 '2019-12' '2019-4' '2020-1' '2020-2' '2020-3' '2020-4' '2020-5' '2020-6'
 '2020-10' '2020-11' '2020-12' '2020-7' '2020-8' '2020-9' '2021-1'
 '2021-2' '2021-3' '2021-4' '2021-5' '2021-6' '2021-7' '2021-8' '2021-9'
 '2021-10' '2021-11' '2021-12' '2022-1' '2022-2' '2022-3' '2022-4'
 '2022-6' '2022-7' '2022-8' '2022-9' '2022-10' '2022-11' '2022-12'
 '2022-5']

la columna Fecha inicial tiene de datos:
['01/06/2016' '01/07/2016' '01/08/2016' '01/09/2016' '01/10/2016'
 '01/11/2016' '01/12/2016' '01/02/2016' '01/03/2016' '01/04/2016'
 '01/05/2016' '01/01/2016' '01/01/2017' '01/02/2017' '01/03/2017'
 '01/04/2017' '01/05/2017' '01/06/2017' '01/07/2017' '01/08/2017'
 '01/09/2017' '01/10/2017' '01/11/2017' '01/12/2017' '01/02/2018'
 '01/03/2018' '01/04/2018' '01/05/2018' '01/06/2018' '01/08/2018'
 '01/09/2018' '01/10/2018' '01/11/2018' '01/12/2018' '01/01/2018'
 '01/07/2018' '01/01/2019' '01/02/2019' '01/05/2019' '01/06/2019'
 '01/07/2019' '01/08/2019' '01/09/2019' '01/10/2019' '01/11/2019'
 '01/12/2019' '01/03/2019' '01/04/2019' '01/01/2020' '01/02/2020'
 '01/03/2020' '01/04/2020' '01/05/2020' '01/06/2020' '01/10/2020'
 '01/11/2020' '01/12/2020' '01/07/2020' '01/08/2020' '01/09/2020'
 '01/01/2021' '01/02/2021' '01/03/2021' '01/04/2021' '01/05/2021'
 '01/06/2021' '01/07/2021' '01/08/2021' '01/09/2021' '01/10/2021'
 '01/11/2021' '01/12/2021' '01/01/2022' '01/02/2022' '01/03/2022'
 '01/04/2022' '01/05/2022' '01/06/2022' '01/07/2022' '01/08/2022'
 '01/09/2022' '01/10/2022' '01/11/2022' '01/12/2022']

la columna Fecha final tiene de datos:
['30/06/2016' '31/07/2016' '31/08/2016' '30/09/2016' '31/10/2016'
 '30/11/2016' '31/12/2016' '31/01/2016' '29/02/2016' '31/03/2016'
 '30/04/2016' '31/05/2016' '31/01/2017' '28/02/2017' '31/03/2017'
 '30/04/2017' '31/05/2017' '30/06/2017' '31/07/2017' '31/08/2017'
 '30/09/2017' '31/10/2017' '30/11/2017' '31/12/2017' '28/02/2018'
 '31/03/2018' '30/04/2018' '31/05/2018' '30/06/2018' '31/07/2018'
 '31/08/2018' '30/09/2018' '31/10/2018' '30/11/2018' '31/12/2018'
 '31/01/2018' '31/01/2019' '28/02/2019' '31/03/2019' '31/05/2019'
 '30/06/2019' '31/07/2019' '31/08/2019' '30/09/2019' '31/10/2019'
 '30/11/2019' '31/12/2019' '30/04/2019' '31/01/2020' '29/02/2020'
 '31/03/2020' '30/04/2020' '31/05/2020' '30/06/2020' '31/10/2020'
 '30/11/2020' '31/12/2020' '31/07/2020' '31/08/2020' '30/09/2020'
 '31/01/2021' '28/02/2021' '31/03/2021' '30/04/2021' '31/05/2021'
 '30/06/2021' '31/07/2021' '31/08/2021' '31/10/2021' '30/11/2021'
 '31/12/2021' '30/09/2021' '31/01/2022' '28/02/2022' '31/03/2022'
 '30/04/2022' '31/05/2022' '30/06/2022' '31/07/2022' '31/08/2022'
 '30/09/2022' '31/10/2022' '30/11/2022' '31/12/2022']

la columna Parametro tiene de datos:
['SO2' 'Auto%#' 'NO2' 'CO' 'O3']

la columna Dias buenos tiene de datos:
[ 2.         31.         30.         20.         26.         25.67936925
 29.         25.         21.         16.         24.         27.
  5.         18.         19.         12.          3.         28.
 23.          6.         15.         22.         14.          9.
  7.         13.         17.          4.         10.          8.
 11.          0.          1.        ]

la columna Dias aceptables tiene de datos:
[ 0.          4.62746017  2.          1.         11.         23.
 15.         22.          5.          4.          7.          6.
  3.         10.          8.         12.         14.          9.
 18.         21.         25.         19.         16.         31.
 29.         24.         13.         20.         28.         30.
 27.         17.         26.        ]

la columna Dias malos tiene de datos:
[ 0.          3.01423978  2.          5.          1.         13.
 11.         15.          7.          6.          8.          3.
  4.         19.         12.          9.         20.         14.
 17.         21.         22.         24.         16.         10.
 18.         26.         25.         23.         27.         28.        ]

la columna Dias muy malos tiene de datos:
[ 0.         0.5158475  1.         2.         4.         3.
 10.         5.         8.         6.         9.        11.
 13.         7.        15.        12.        17.        18.
 21.        23.       ]

la columna Dias extremadamente malos tiene de datos:
[0.         0.01546392 1.         2.         4.         5.        ]

la columna Dias insuficientes tiene de datos:
[28.          0.         10.          5.          1.         15.
  6.          2.          4.         25.         13.         11.
 19.          2.92134831 29.          3.          8.         16.
  7.          9.         17.         12.         22.         23.
 18.         14.         26.         21.         24.         27.
 20.        ]

In [435]:
# Cambiar en la columna "Parametro" el valor "Auto%#" y reemplazarla por el valor anterior

# Paso 1: Reemplazar "Auto%#" por NaN
df['Parametro'] = df['Parametro'].replace("Auto%#", pd.NA)

# Paso 2: Rellenar los NaN con el valor anterior (forward fill)
df['Parametro'] = df['Parametro'].fillna(method='ffill')

C:\Users\dilon\AppData\Local\Temp\ipykernel_13060\445908258.py:7: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df['Parametro'] = df['Parametro'].fillna(method='ffill')

# POR ÚLTIMO,
## ELIMINAREMOS LOS DECIMALES EN LAS COLUMNAS NUMÉRICAS

In [436]:
# Paso 1: Limpiar nombres de columnas (por si tienen espacios)
df.columns = df.columns.str.strip()

# Paso 2: Detectar automáticamente columnas numéricas
columnas_numericas = df.select_dtypes(include='number').columns

# Paso 3: Redondear y convertir a enteros
df[columnas_numericas] = df[columnas_numericas].round(0).astype(int)

#FINALMENTE EXPORTAMOS EL CSV LIMPIO:

In [437]:
df.to_csv('df_limpio_AIRE_DILAN.csv', index=False)